//settings
$font-main-family: "Inter", serif;
// $font-2: "Saira", sans-serif;
$fontIcon: "icomoon";

$white: #ffffff;
$black: #121927;

:root {

    --Primary: #2748DB;
    --On-Surface: #121212;
    --Secondary: #64666C;
    --line: #E5E5E5;
    --surface: #EFEFEF;
    --White: #FFFFFF;
    --Warning: #FFB321;
    --Red: #E74141;
    --Placehoder: #B1B1B1;
    --Green: #16BA9C;
    --Success: #3DAB25;

}
