@use "../abstracts/index" as *;
.tf-btn {
    padding: 12px 32px;
    border-radius: 0;
    @include flex(center, center);
    gap: 10px;
    // width: 100%;
    // font-size: 16px;
    // line-height: 21px;
    // font-weight: 600;
    color: var(--White);
    border: 2px solid var(--Primary);
    background-color: var(--Primary);
    @include transition3;
    text-transform: capitalize;

    &:hover {
        color: var(--On-Surface);
        background-color: transparent;
    }

    &.style-1 {
        padding: 6px 31px;
        color: var(--On-Surface);
        background-color: transparent;
        &:hover {
            color: var(--White);
            background-color: var(--Primary);
        }
    }

    &.style-2 {
        padding: 10px 22px;
        color: var(--On-Surface);
        background-color: transparent;
        &:hover {
            color: var(--White);
            background-color: var(--Primary);
        }
        .icon {
            font-size: 24px;
        }
    }

    &.disable {
        padding: 12px 24px;
        background-color: var(--line);
        color: var(--On-Surface);
        border: 0;
    }


}

.tf-loading {
    width: auto;
    display: inline-flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    // color: var(--text-5);
    .spinner-circle {
        .spinner-child {
            &::before {
                // background-color: var(--text-5);
            }
        }
    }
}

.btn-invite {
    padding: 5px 15px;
    color: var(--rgba-black-3);
    border: 1px solid var(--line);
    border-radius: 9px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    &.active {
        background-color: var(--blue);
        border-color: var(--blue);
        color: var(--White);
    }
}

$bgColor: #3a3d55;
$slideBgColor: rgba(255, 255, 255, 0.3);
$slideBallColor: white;
$slideBallIconColor: black;
$slideTextColor: #ffffff;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin nonselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#button-background {
    position: relative;
    background-image: radial-gradient(circle at 100% 46%, #21d2a3, #15adaf 102%);
    width: 335px;
    height: 54px;
    border: white;
    border-radius: 40px;
    @include center;
    &.bg-converted {
        background: white;
    }
}

.btn-swipe {
    transition:
        width 0.3s,
        border-radius 0.3s,
        height 0.3s;
    position: absolute;
    left: 8px;
    background-color: $slideBallColor;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @include center;
}

.fixed-button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    background-color: var(--White);
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
