@use "../abstracts/index" as *;

.mh-mess {
    min-height: 100vh;
    .chat-area {
        padding: 69px 0 72px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.message-box-bottom {
    position: relative;
    display: flex;
    gap: 8px;

    input {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        border: 1px solid var(--line);
        padding: 11px 92px 11px 15px;
        border-radius: 99px;
        color: var(--Secondary);
    }
    .btn-message {
        width: 32px;
        height: 32px;
        background-color: var(--Primary);
        border-radius: 50%;
        @include flex(center, center);
        font-size: 20px;
        color: var(--pest-1);
    }
    .box-left {
        position: absolute;
        top: 4px;
        right: 4px;
        display: flex;
        align-items: center;
        gap: 12px;
        .line {
            height: 24px;
            width: 1px;
            background-color: var(--line);
        }
    }
}
.bubble {
    &.bubble-you {
       display: flex;
       align-items: center;
       gap: 18px;
    }
    &.bubble-me {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .content {
            display: flex;
            padding: 7px 10px;
            background-color: var(--surface);
            border-radius: 18px 18px 0 18px;
            width: max-content;
            margin-left: auto;
        }
    }
}

.box-buble-me {
    .start {
        border-bottom-right-radius: 30px;
    }
    .middle {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .end {
        border-top-right-radius: 30px;
    }
}

.fixed-chat {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1024px;
    margin: 0 auto;
    padding: 8px 16px;
}

