@use "../abstracts/index" as *;
.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--White);

    &.button {
        padding: 20px 24px 24px;
    }
    &.st-1 {
        z-index: 1046;
    }
}
.menubar-footer {
    display: flex;
    padding: 12px 16px;
    box-shadow: 0px 14px 64px -48px #0F0F0F1A;
    height: 82px;
    .inner-bar {
        width: 100%;
        display: flex;
        max-width: 1024px;
        justify-content: space-between;
        align-items: center;
        li {
            width: 52px;
            text-align: center;
            a {
                color: var(--Secondary);
                .icon {
                    display: flex;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    font-size: 24px;
                    margin-bottom: 4px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &.active {
                a {
                    color: var(--On-Surface);
                }
                .icon i {
                    color: var(--Primary);
                }
            }
        }
    }
}

.btn-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    z-index: 20;
    background-color: var(--White);
    &.style-2 {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
}
