@use "../abstracts/index" as *;
.offcanvas {
    background-color: var(--White);
    &.offcanvas-end {
        border: none;
        width: 250px;
        &.full {
            width: 100%;
        }
    }

    &.offcanvas-bottom {
        border-top: none;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        height: auto;
    }

    .offcanvas-header {
        padding: 24px;
        &.style-1 {
            padding-bottom: 19px;
        }
        .icon-close-popup {
            justify-content: flex-end;
            font-size: 12px;
        }
    }
    .offcanvas-body {
        padding: 40px 24px 24px;
    }
}

.offcanvas-backdrop {
    background-color: var(--On-Surface);
    &.show {
        opacity: 0.3;
    }
}
.icon-close-popup {
    width: 30px;
    height: 20px;
    @include flex(center, center);
    color: rgba(49, 57, 79, 0.6);
}

#closeAccount {
    .offcanvas-body {
        h5 {
            padding-bottom: 12px;
            text-align: center;
        }
        padding: 32px 24px 34px;
    }
}

.offcanvas#createProject {
    z-index: 1047;
}

#sidebarInbox {
    .offcanvas-header {
        justify-content: flex-end;
        .icon-close-popup {
            font-size: 15px;
        }
    }
}
.content-sidebarRight {
    overflow: auto;
}
.menu-navlink-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px 14px 20px;
    gap: 20px;
    .icon {
        font-size: 24px;
        color: rgba(49, 57, 79, 0.6);
    }
    .title {
        color: rgba(49, 57, 79, 0.92);
    }
    &.active {
        position: relative;
        .icon {
            color: --blue;
        }
        .title {
            color: --blue;
        }
        &::after {
            position: absolute;
            left: 0;
            top: 10px;
            bottom: 10px;
            content: "";
            width: 6px;
            background-color: --blue;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            transform: translateX(-50%);
        }
    }
}

.canvas-attachment {
    color: var(--black);
    .close-popup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: 1.5px solid var(--black);
        opacity: 0.6;
    }
    &.offcanvas-bottom {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        .offcanvas-header {
            padding: 24px 24px 21px;
        }
    }
    .offcanvas-body {
        padding: 0px 24px 40px;
    }
    .img-latest {
        border-radius: 16px;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .box-latest {
        padding: 20px 0px 24px;
        border-top: 1px solid var(--rgba-black-4);
        border-bottom: 1px solid var(--rgba-black-4);
    }
}

.search-header {
    padding: 4px 16px;
    height: unset;
    .right-icon {
        font-size: 24px;
    }
}

.close-popup {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;;
}

.popup_job_detail {
    height: calc(100vh - 40px) !important;
}

.more-option-wrap {
    padding-top: 22px;
    border-radius: 12px;
    overflow: hidden;
    .item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        &:hover {
            background-color: #2748DB1A;
        }
        .icon {
            font-size: 20px;
        }
        &:not(:first-child) {
            border-top: 1px solid var(--line);
        }
    }
}

.profile-setting {
    display: grid;
    gap: 8px;
    .setting-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: var(--surface);
            font-size: 20px;
        }
        .text {
            flex-grow: 1;
        }
        &.logout {
            .icon {
                background-color: rgba(231, 65, 65, 0.1);
            }
        }
    }
}