@use "../abstracts/index" as *;
.preload {
    overflow: hidden;
    .logo-img{
        width: 140px;
        height: 40px;
    }
}

.preload-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--pest-1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    @include flex(center, center);
    overflow: hidden;

    .spinner-circle {
        position: fixed;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        width: 52px;
        height: 52px;
        .spinner-child {
            &::before {
                background-color: #fff;
            }
        }
    }
}

.preload-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    z-index: 100;
    margin: -45px 0 0 -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    animation: preload 1s linear infinite alternate;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.preload-style-2 {
    background: var(--white);
    .spinner-circle {
        .spinner-child {
            &::before {
                background-color: var(--blue);
            }
        }
    }
    svg {
        .text {
            fill: var(--black);
        }
        rect {
            fill: var(--blue);
        }
        path:not(.text) {
            fill: var(--white);
            stroke: var(--blue);
        }
    }
}
