@use "../abstracts/index" as *;
.tf-radio {
    position: relative;
    border: 1.5px solid var(--blue);
    border-radius: 50%;
    background: none;
    cursor: pointer;
    outline: 0;
    height: 20px;
    width: 20px;
    // @include flex(center,center);
    -webkit-appearance: none;
    &:checked {
        border-color: var(--blue);

        &::before {
            opacity: 1;
        }
    }
    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        background-color: var(--blue);
        opacity: 0;
    }

    &.square {
        border-radius: 0;
        &::before {
            border-radius: 0;
        }
        // &:checked {
        //     &::before {
        //         opacity: 1;
        //     }
        // }
    }
    &.square-2 {
        border-radius: 7px;
        &::before {
            border-radius: 5px;
        }
    }
    &.circle-2 {
        &:checked {
            background-color: --blue;
            border-color: --blue;
        }
        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: --white;
        }
    }
    &.circle-3 {
        &:checked {
            background-color: --blue;
            border-color: --blue;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
}

.fieldset-radio {
    display: flex;
    align-items: center;
    gap: 10px;
    color: --black;
    label {
        font-weight: 500;
        margin-top: 2px;
    }
}

.tf-checkbox {
    background: none;
    cursor: pointer;
    outline: 0;
    border-radius: 2px;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    background-color: var(--White);
    border: 1px solid var(--Secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    @include transition3;
    &::before {
        position: absolute;
        font-family: 'icomoon';
        content: "\e976";
        font-size: 10px;
        border-radius: 0;
        color: var(--White);
        width: unset;
        height: unset;
        background-color: unset;
        opacity: 0;
        @include transition3;
    }
    &:checked {
        background-color: var(--Primary);
        border-color: var(--Primary);
        &::before {
            opacity: 1;
        }
    }
}
.cb-rounded {
    position: relative;
    border: 1px solid --blue;
    background: none;
    cursor: pointer;
    outline: 0;
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: --white;

    &:checked {
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            left: 2px;
            top: 2px;
            background-color: --blue;
        }
    }
}

.radio-check {
    position: relative;
    border: 4px solid red;
    border-radius: 100px;
    background: red;
    cursor: pointer;
    outline: 0;
    width: 28px;
    height: 28px;
    -webkit-appearance: none;
    @include flex(center, center);
    &::before {
        content: "\e93b";
        position: absolute;
        font-family: $fontIcon;
        font-size: 9px;

        color: red;
    }
    &:checked {
        border-color: red;
        background-color: --blue;
        &::before {
            color: --white;
        }
    }

    &.success {
        &:checked {
            border-color: #fff;

            background-color: red;
        }
    }
}

.tf-btn-radio {
    position: relative;
    label {
        display: flex;
        align-items: center;
        padding: 12.5px 15px;
        color: var(--On-Surface);
        border-radius: 8px;
        border: 1px solid var(--line);
        @include transition3;
        cursor: pointer;
    }
    input {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid rgba(185, 185, 191, 1);
        border-radius: 50%;
        background: none;
        cursor: pointer;
        outline: 0;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-appearance: none;
        @include transition3;
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: var(--Primary);
            opacity: 0;
            @include transition3;
        }
        &:checked {
            border-color: var(--Primary);
            &::before {
                opacity: 1;
            }
            ~ label {
                border-color: rgba(39, 72, 219, 0.5)
            }
        }
    }
    &.type-square {
        input {
            border-radius: 2px;
            width: 18px;
            height: 18px;
            background-color: var(--White);
            border: 1px solid var(--Secondary);
            &::before {
                position: absolute;
                font-family: 'icomoon';
                content: "\e976";
                font-size: 10px;
                border-radius: 0;
                color: var(--White);
                width: unset;
                height: unset;
                background-color: unset;
                opacity: 0;
                @include transition3;
            }
            &:checked {
                background-color: var(--Primary);
                border-color: var(--Primary);
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.tf-btn-radio-1 {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    input {
        border: 2px solid rgba(185, 185, 191, 1);
        border-radius: 50%;
        background: none;
        cursor: pointer;
        outline: 0;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-appearance: none;
        @include transition3;
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: var(--Primary);
            opacity: 0;
            @include transition3;
        }
        &:checked {
            border-color: var(--Primary);
            &::before {
                opacity: 1;
            }
            ~ label {
                border-color: rgba(39, 72, 219, 0.5)
            }
        }
    }
}

