@use "../abstracts/index" as *;
.tf-switch-check {
    position: relative;
    width: 48px;
    height: 24px;
    flex-shrink: 0;
    -webkit-appearance: none;
    background-color: var(--line);
    border-radius: 99px;
    transition: 0.2s;
    margin-right: 0;

    &::before {
        content: "";
        border-radius: 99px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: var(--White);
        transition: 0.2s;
    }
    &:checked {
        background-color: var(--Success);
        &::before {
            left: 26px;
        }
    }
    &.lg {
        width: 24px;
        height: 17px;
        &::before {
            width: 10px;
            height: 10px;
            left: 4px;
        }
        &:checked {
            &::before {
                left: 10px;
            }
        }
    }
}
.fieldset-sw {
    display: flex;
    gap: 20px;
    align-items: center;
    label {
        cursor: pointer;
    }
}
.sw-disabled {
    opacity: 0.5;
}
